{% extends 'layout.html' %}

{% block title %}
    Menu Page
{% endblock %}

{% block body %}

    <div class="menu-block">
        <div class="menu-restaurant-header">
            <p>MENUS & WINE</p>
        </div>
        <div class="menu-restaurant-title">
            <p>RESTAURANT</p>
        </div>
        <div class="menu-restaurant-list">
            <ul>
                <li class="menu-text"><a href="#" class="menu-link">A La Carte</a></li>
                <li class="menu-text"><a href="#" class="menu-link">Set Menu</a></li>
                <li class="menu-text"><a href="#" class="menu-link">Desserts</a></li>
                <li class="menu-text"><a href="#" class="menu-link">Weekend Brunch Menu</a></li>
                <li class="menu-text"><a href="#" class="menu-link">Children's Menu</a></li>
            </ul>
        </div>

        <div class="menu-bar-title">
            <p>BAR</p>
        </div>
        <div class="bar-list">
            <ul>
                <li class="menu-text"><a href="" class="menu-link">Wine List</a></li>
                <li class="menu-text"><a href="" class="menu-link">Cocktails List</a></li>
                <li class="menu-text"><a href="" class="menu-link">Champagne Taittinger List</a></li>
            </ul>
        </div>
    
    <div class="menu_block_btns">
        <a href="/booking" class="menu-block-btn">Book a Table</a>
        <a href="" class="menu-block-btn">What's On</a>
        <a href="" class="menu-block-btn">Private Dining</a>
    </div>

    </div>

{% endblock %}